/*

=========================================================
* Avenue CSS Kit v0.1
=========================================================

* Demo Page: 'https://nutritrack.avenuelabs.co/'
* Copyright 2023 Christian Luntok 
* Coded by Christian Luntok

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

// Core CSS Reset/MISCS
@import "core/misc";

// Core Declarations
@import "core/variables";

// Core Layouts and Style Definitions
@import "core/general";
@import "core/typography";
@import "core/utilities";

// Core Components
@import "core/components/button";
@import "core/components/badge";
@import "core/components/nav";
@import "core/components/header";
@import "core/components/card";
@import "core/components/page-banner";
@import "core/components/footer";

// Core Plugins
// @import "plugins/plugin-tailwind";

@font-face {
  font-family: "Mistral";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/MISTRAL.woff) format("woff");
}

.mistral {
  font-family: "Mistral", sans-serif;
}

.main-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}